<nav class="navbar navbar-dark bg-dark sticky-top p-2 pr-5">
  <button class="btn btn-outline-light"><%= link_to"Add a list",new_list_path  %></button>
</nav>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW92aWVzfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>WATCH LIST</h1>
    <p>Why not browse some cool movie bookmarks</p>
  </div>
</div>

<div class="container">
<h2 class="pb-1 pt-1">Lists</h2>
    <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("#{list.name}.png") %>');">
      <%= link_to list.name.upcase, list_path(list) %>
      </div>
      <% end %>
    </div>
  </div>
